*{
  margin: 0;
  padding: 0;
  }

  .bckgrd{
    background-color: black;
    min-height: 100vh;


  }
  .bg{
   background-image: url("bg-img.png");
   background-repeat: repeat-y;
   height: 100%;
  }

  .navbar{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
display: flex ;
    justify-content: center;
  }

  a{
    font-size: 20px;
    margin: 20px;
    margin-top: 40px;
    justify-content: center;
    text-decoration: none;
    color: white;
  }

  .h-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: white;
    display: flex ;
    justify-content: center;
    margin-top: 300px;
  }

  .form-text-area{
    position: absolute;
   top: 50%;
   left: 50%;
   margin: -90px 0 0 -100px;
   width: 200px;
   height: 100px;
   background-color: none;
 }



.form-log{
  color: white;
  margin-bottom: 10px;
  margin-top: 7px;
  margin-left: -45px;
  display: block;
  width: 140px;
  height: 30px;
  box-shadow: 0 0 0 0 ;
      background: inherit;
      backdrop-filter: blur(10px);
  background-color: #d560a695;
  font-size: 15px;
      border-radius: 6px;
      opacity: 0.3;
      padding: 5px 120px 5px 10px;  
      border-color: #874071;
      border: none;
        -webkit-transition: 0.5s;
        transition: 0.5s;
      outline: none;

 }
::placeholder{
  color: white;
}

  .btn{
  position: absolute;
  top: 56%;
  left: 50%;
  margin: -30px 0 0 -70px;
background-color: #9658FF;
color: white;
font-size: 15px;
padding-left: 40px;
padding-right: 40px;
padding-top: 10px;
padding-bottom: 10px;
border: none;
border-radius: 4px;
cursor: pointer;
 }

.btn-logout{
  position: absolute;
  top: 56%;
  left: 50%;
  margin: -475px 0 0 185px;
background-color: #9658FF;
color: white;
font-size: 15px;
padding-left: 40px;
padding-right: 40px;
padding-top: 10px;
padding-bottom: 10px;
border: none;
border-radius: 4px;
cursor: pointer;
 }


 input[type=email]:focus {
  border: 1px solid #874071;
}

input[type=password]:focus {
  border: 1px solid #874071;
}

.ft-txt{
  color: white;
  display: flex ;
    justify-content: center;
    padding-top: 380px;
    margin-top: 50px;
    padding-bottom: 18px;
    font-size: 10px;
}

span{
  background-image: -webkit-linear-gradient(10deg, #4771E3, #7346BD, #3D7FEB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 480px){
  .bg{
    background-image: url("bg-img-mob.png");
  }
    .navbar{
      margin-left: -120px;
    }
    .h-text{
      font-size: 40px;
    }

    a{
      font-size: 15px;
      margin: 10px;
      margin-top: 23px;
    }
    .btn-logout{
      font-size: 12px;
      margin: -444px 0px 0px 70px;
    }

}